body {
    font-family: 'Tinos', 'Noto Sans', "sans-serif";
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 25vh;
    box-sizing: border-box;
}

.container {
    width: 1056px;
    max-width: 100%;
}

.profileimage {
    width: 180px;
    height: 180px;
    display: block;
    flex-shrink: 0;
}

.profiletext {
    display: block;
    vertical-align: top;
}

.topdiv {
    height: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
}

.powered {
    width: 100%;
    font-size: 0.8em;
    margin-top: 64px;
    text-align: left;
}

.li-withoutstyle {
    list-stype: none;
}

@media screen and (max-width: 600px) {
    body {
        padding-top: 0;
    }

    .topdiv {
        flex-direction: column;
        align-items: center;
    }

    .profileimage {
        margin-top: 24px;
    }

    .profiletext {
        text-align: left;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        width: 96%;
        padding: 0 2% 0 2%;
    }

}
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #000000;
    }

    a:link {
        color: #0000FF;
    }

    a:visited {
        color: #4B2088;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #313235;
        color: #FFFFFF;
    }

    a:link {
        color: #8CA7FC;
    }

    a:visited {
        color: #E0BBE4;
    }

}

